.ques-ans {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.highlight {
    color: rgb(27, 233, 216);
    font-weight: bold;
}

.semen-color {
    color: rgb(69, 139, 167);
}

.weight {
    font-weight: bold;
}