.review-container {
    display: flex;
}

.site-name {
    color: rgb(71, 229, 71);
}

.nav-style {
    margin-top: 0%;
}

nav {
    margin-top: 100px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

nav a:hover {
    color: orange;
}